export ADMIN_PASSWORD='lol'
export PORT=3000
export DATABASE_URL='postgres://username:password@localhost:5432/votebot'
export SESSION_SECRET='trolol'
export NEXT_ELECTION_DATE='2018-11-06'
export TWILIO_ACCOUNT_SID='ACXXXXX'
export TWILIO_AUTH_TOKEN='1234'
export TWILIO_FROM_NUMBER='+1234567890'
export TWILIO_MESSAGING_SID='MGXXXXXX'
export TWILIO_NOTIFY_SID='ISXXXXXX'
